/* Base Css*/
.preview.dragging {
  /* Styles for the preview area when dragging */
  border: 2px dashed gray;
  background-color: #000;
}

.preview-element.dragging {
  /* Styles for the individual elements when dragging */
  opacity: 0.5;
  background-color: #000000;
}

/* Additional styles as needed */

button.delete-btn {
  background: #fff;
  font-family: "Larsseit";
  font-size: 25px;
  padding: 10px;
  position: absolute;
  top: 0;
  border-radius: 50px;
  cursor: pointer;
}

.builder {
  display: flex;
  justify-content: space-between;
  height: 99vh;
  align-items: stretch;
}

.preview {
  width: 80%;
  padding: 20px;
  border: 2px dashed #1053f3;
  margin: 6px;
  overflow-x: hidden;
}

.preview h1 {
  margin-top: 0;
}

#website-content {
  min-height: 200px;
}

.sidebar {
  width: 20%;
  padding: 20px;
  /* background: rgb(7,3,53); */
  /* background: linear-gradient(51deg, rgba(7,3,53,1) 54%, rgba(0,0,0,1) 100%); */
  background: #161c23;
}

.sidebar h2 {
  margin-top: 0;
}

.elements-list {
  list-style-type: none;
  padding: 0;
}

.draggable {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #343c44;
  border: 1px solid #343c44;
  color: #fff;
  height: 24px;
  border-radius: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable:hover {
  background-color: #f0f0f0;
}

.preview-element {
  position: relative;
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Base End */

.head {
  border-bottom: 1px solid #ffffff47;
  margin-bottom: 16px;
  padding: 5px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .head h2 {
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}

ul.elements-list {
  padding: 10px;
}

.sidebar {
  padding: 10px;
}

ul.elements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

ul.elements-list li.draggable {
  width: 50%;
  flex: 1;
  padding: 16px;
  text-align: center;
  font-family: "Larsseit";
  text-transform: capitalize;
  border-radius: 0;
}

ul.elements-list li.draggable:hover {
  opacity: 0.9;
  background: none;
  transition: 0.5s;
}

ul.elements-list li.draggable:hover {
  opacity: 0.9;
  background: none;
  transition: 0.5s;
}

.btn-primary {
  background: #1053f3;
  font-size: 16px;
  font-family: "Larsseit";
  color: #fff;
  padding: 13px 31px;
  border-radius: 13px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #161c23;
  border-bottom: 1px solid #ffffff24;
}

.top-bar .right {
  text-align: right;
}

.top-bar .left {
  display: flex;
  align-items: center;
}

.builder-name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.builder-name p {
  margin-top: 4px;
  color: #fff;
  font-family: "Larsseit";
  font-size: 12px;
}

.placeholder-text {
  font-family: "Larsseit";
  color: #fff;
  text-align: center;
  font-size: 39px;
  text-transform: capitalize;
}

.placeholder-text {
  font-family: "Larsseit";
  color: #fff;
  text-align: center;
  font-size: 39px;
  text-transform: capitalize;
}

.placeholder-text {
  margin: auto;
  width: 50%;
  height: 168px;
  display: flex;
  align-items: center;
  border: 2px dashed #ecf1ff36;
  justify-content: center;
  font-size: 29px;
}
